*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}
a, li, ul ,ol {
    text-decoration: none;
    list-style-type: none;
}
body {
    text-align: center;
}
.first {
    background-color: #009BE6;
}
.text {
    text-transform: uppercase;
    font-weight: 600;
    opacity: 50%;   
    font-size: 3rem;
    padding: 1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.pict {
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
}

.footer {
    padding: 1rem;
    background-color: #009BE6;
}
.hyperlink a{
    color: #fff;
}